{{ define "main" }}
<div id="content">
  <div class="container">
    <div class="row margin-top-50 margin-bottom-50">
      <div class="col-sm-16 news-list">
        <div class="news-list-col margin-bottom-40">
          <h2 class="heading-line">
            <span>What's New?</span>
          </h2>
          <div id="news-list-container" class="news-list-media" data-news-type='["announcements","community_news"]' data-news-count="3" data-publish-target="edge_native">
          </div>
          <ul class="list-inline block-summary-more margin-bottom-40">
            <li><a href="https://newsroom.eclipse.org/rss/news/edge_native/news.xml" title="Subscribe to our RSS-feed"><i class="fa fa-rss margin-right-5"></i></a> <a href="/news">View all</a></li>
            <li class="news-list-links-view-all"><a href="https://newsroom.eclipse.org/node/add/news">Submit News</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-8 news-list event-list">
        <div class="news-list-col margin-bottom-40">
          <h2 class="heading-line">
            <span>Events</span>
          </h2>
          <div id="event-list-container" class="news-items" data-template-id="event-short-list" data-upcoming="true" data-count="3" data-publish-target="edge_native">
          </div>
          <ul class="list-inline block-summary-more margin-bottom-40">
            <li><a href="https://events.eclipse.org">View all</a></li>
            <li class="news-list-links-view-all"><a href="https://newsroom.eclipse.org/node/add/events">Submit Event</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  {{ .Content }}
</div>
{{ end }}