{{ define "main" }}
<div id="content">
  <div class="container">
    <div class="row margin-top-50 margin-bottom-50">
      <div class="col-sm-16 news-list">
        <div class="news-list-col margin-bottom-40">
          <h2 class="heading-line">
            <span>What's New?</span>
          </h2>
          <div class="news-list-media">
            {{ range first 5 (where site.RegularPages "Section" "news") }}
            <div class="news-list">
              <a
                href="{{- with .Params.link | default .RelPermalink }} {{.}} {{- end }}"
                class="media media-link">
                <p class="media-date">{{ .Date.Format "Monday, Jan 2, 2006" }}</p>
                <h4 class="media-heading">{{ .Title }}</h4>
                <p class="media-text">{{ .Summary }}</p>
              </a>
            </div>
            {{ end }}
          </div>
          <ul class="list-inline news-list-links">
            <li class="news-list-links-view-all"><a
              href="news">View all</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-8 news-list event-list">
        <div class="news-list-col margin-bottom-40">
          <h2 class="heading-line">
            <span>Events</span>
          </h2>
          <div class="news-items">
            {{ range first 5 (sort (where site.RegularPages "Section" "events") "Params.expire_date") }}
              {{ $t := time .Params.expire_date }}
              {{ if $t.After now }}
	            <div class="row news-item text-center padding-bottom-15">
	              <div class="col-sm-24">
	                <p class="margin-bottom-0">
	                  <a class="fw-700" href="{{- with .Params.link | default .RelPermalink }} {{.}} {{- end }}">{{ .Title }}</a>
	                </p>
	                <p class="margin-bottom-0">{{ .Params.location }}</p>
	                <p>{{ .Params.event_date }}</p>
	              </div>
	            </div>
              {{ end }}
            {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>
  {{ .Content }}
</div>
{{ end }}